@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@500&display=swap");

.content-wrapper {
    isolation: isolate;
    position: absolute;
    left: 30%;
    right: 30%;
    border-left: 1px solid var(--border-day);
    border-right: 1px solid var(--border-day);
    transition: border-color 1s var(--timing-fn);
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .content-wrapper {
        left: 20%;
        right: 20%;
    }
}

@media screen and (max-width: 900px) {
    .content-wrapper {
        left: 10%;
        right: 10%;
    }
}

@media screen and (max-width: 600px) {
    .content-wrapper {
        position: relative;
        left: 0;
        right: 0;
        margin: 0 15px;
    }
}

/* Style for the horizontal stripe */
.stripe-container {
    width: 100%;
    height: 35px;
    position: relative;
    overflow: hidden;
    border-left: none;
    border-right: none;
}

.stripe-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to bottom,
        rgb(78 53 45 / 13%) 0 2.5px,
        transparent 2.5px 7.5px,
        rgb(78 53 45 / 10%) 7.5px 9.5px,
        transparent 9.5px 14.5px,
        rgb(78 53 45 / 8%) 14.5px 16px,
        transparent 16px 21px,
        rgb(78 53 45 / 6%) 21px 22px,
        transparent 22px 27px,
        rgb(78 53 45 / 4%) 27px 27.5px,
        transparent 27.5px
    );
    transition: background 1s var(--timing-fn);
}

:root {
    --color-bg: #151515;
    --color-text: #626262;
    --color-accent: #3a3a3a;
    --color-white: #fff;

    --gradient-title: linear-gradient(to right, #1f140e, #827d74);
    --font-size-base: 14px;
    --font-size-body: 1rem;
    --font-size-h1: 1rem;
    --font-size-h2: 1rem;
    --font-size-h3: 1rem;

    --line-height: 1.5;
    --spacing: 1rem;
    --border-color: 78, 53, 45;
    --border-opacity: 13%;
    --transition-standard: 0.8s ease-out;
    --footer-padding: 1.25rem;
    --border-day: rgb(78 53 45 / 13%);
    --border-night: rgb(78 53 45 / 30%);
    --timing-fn: cubic-bezier(0.455, 0.19, 0, 0.985);
}

/* Base styles */
html {
    font-size: var(--font-size-base);
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Inter", sans-serif;

    color: var(--color-text);
    font-size: var(--font-size-body);
    line-height: var(--line-height);
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 42.5rem; /* 600px / 16px */
}

main {
    border-left: 0.5px solid var(--color-border);
    border-right: 0.5px solid var(--color-border);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0px;
    text-transform: lowercase;
}

.gradient-text {
    background: var(--gradient-title);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    width: fit-content;
}

h1 {
    font-size: var(--font-size-h1);
}
h2 {
    font-size: var(--font-size-h2);
}
h3 {
    font-size: var(--font-size-h3);
}

p,
ul,
ol {
    font-size: var(--font-size-body);
    margin-bottom: var(--spacing);
    font-weight: 300;
}

.quote {
    font-style: italic;
}

/* Header */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem; /* 20px / 16px */
    width: 100%;
}

.socials {
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10px / 16px */
}

.socials p {
    margin: 0;
    font-style: italic;
}

.site-title {
    padding-top: 1px;
    text-transform: none;
}

.logo {
    display: flex;
}

.site-logo {
    width: auto;
    height: 1.25rem; /* 20px / 16px */
    margin-right: 0.3125rem; /* 5px / 16px */
}

.logo .site-title {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: #282828;
    transition: color 1s var(--timing-fn);
}

.dark .logo .site-title {
    color: var(--color-white);
}

/* Main content */
.hero-title {
    font-size: var(--font-size-h2);
    text-transform: none;
}

/* Styles des sections */
section {
    width: 100%;
    border-bottom: 1px solid var(--border-day);
    padding: 2.5rem 1.25rem; /* 40px 20px / 16px */
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* 40px / 16px */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out, border-color 1s var(--timing-fn);
    will-change: opacity, transform; /* Optimisation des performances */
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
    text-transform: lowercase;
}

/* Styles des sous-blocs */
.sub-block {
    display: flex;
    flex-direction: column;
}

/* Bouton Twitter */
.twitter-button {
    width: 1.25rem; /* 20px / 16px */
    height: 1.25rem; /* 20px / 16px */
    border-radius: 0.25rem; /* 4px / 16px */
    border: 1px solid var(--border-day);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    font-size: 1rem;
    text-decoration: none;
    transition: border-color 1s var(--timing-fn);
}

.twitter-button:hover {
    background-color: var(--color-accent);
}

.image-container img {
    max-width: 100%;
}

.site-footer {
    border-left: none;
    border-right: none;
    padding-top: 1.25rem; /* 20px / 16px */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.site-footer > div:first-child {
    padding-left: 1.25rem; /* 20px / 16px */
    padding-right: 1.25rem; /* 20px / 16px */
}

.site-footer img {
    width: 100%;
    display: block;
}

.copyright {
    text-align: center;
    padding: 0.625rem 0; /* 10px / 16px */
    font-size: 0.8em;
}

footer img {
    width: 100%;
}

/* Add this to your CSS file */
ul {
    list-style-type: none; /* Removes default bullets */
    padding-left: 0; /* Removes default padding */
    margin-top: 0px;
}

ul li {
    padding-left: 1em; /* Ajoute un peu d'espace à gauche */
    text-indent: -1em; /* Crée un retrait négatif pour le tiret */
}

ul li::before {
    content: "- "; /* Ajoute un tiret avant chaque élément de liste */
    color: var(--color-text); /* Utilise la couleur de texte définie */
}

/* Styles for mobile devices */
@media screen and (max-width: 600px) {
    /* 600px / 16px */
    body {
        font-size: 0.875rem; /* 14px / 16px */
        max-width: 100%;
        padding: 0 0.9375rem; /* 15px / 16px */
    }

    .site-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.9375rem; /* 15px / 16px */
    }

    .socials {
        margin-top: 0.625rem; /* 10px / 16px */
    }

    .hero-title {
        font-size: 1rem; /* 24px / 16px */
    }

    .image-container {
        margin-top: 1.25rem; /* 20px / 16px */
    }

    .sub-block {
        margin-bottom: 1.875rem; /* 30px / 16px */
    }

    .twitter-button {
        width: 1.875rem; /* 30px / 16px */
        height: 1.875rem; /* 30px / 16px */
        font-size: 0.875rem; /* 14px / 16px */
    }
}
body {
    --day: #f4e1c4;
    --evening: #fccc83;
    --dusk: #db7a2a;
    --night: #0f0907;
    --dawn: #140e0b;
    --morning: #ae9681;

    --light: var(--day);
    --dark: var(--night);
    --shadow: #1a1917;
    --bounce-light: #f5d7a6;
    --timing-fn: cubic-bezier(0.455, 0.19, 0, 0.985);

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--light);

    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

body.animation-ready {
    animation-play-state: running;
    animation-duration: 1s;
    animation-name: sunrise;
}

body.animation-ready.dark {
    animation-duration: 1.7s;
    animation-name: sunset;
}

body.dark {
    --light: var(--night);
    --dark: var(--day);
    --shadow: #070503;
    --bounce-light: #573926;
    --gradient-title: linear-gradient(to right, #feeed9, #a8a298);
    --color-text: #8b8b8b;
}

@keyframes sunrise {
    /* 0% {
    background-color: var(--night);
  }

  10% {
    background-color: var(--dawn);
  }

  35% {
    background-color: var(--morning);
  }
*/

    100% {
        background-color: var(--day);
    }
}

@keyframes sunset {
    0% {
        background-color: var(--day);
    }

    30% {
        background-color: var(--evening);
    }

    60% {
        background-color: var(--dusk);
    }

    90% {
        background-color: var(--dawn);
    }

    100% {
        background-color: var(--night);
    }
}

#dappled-light {
    pointer-events: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

#progressive-blur {
    position: absolute;
    height: 100%;
    width: 100%;
}

#progressive-blur > div {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    backdrop-filter: blur(var(--blur-amount));
    mask-image: linear-gradient(252deg, transparent, transparent var(--stop1), black var(--stop2), black);
}

#progressive-blur > div:nth-child(1) {
    --blur-amount: 6px;
    --stop1: 0%;
    --stop2: 0%;
}

#progressive-blur > div:nth-child(2) {
    --blur-amount: 12px;
    --stop1: 40%;
    --stop2: 80%;
}

#progressive-blur > div:nth-child(3) {
    --blur-amount: 48px;
    --stop1: 40%;
    --stop2: 70%;
}

#progressive-blur > div:nth-child(4) {
    --blur-amount: 96px;
    --stop1: 70%;
    --stop2: 80%;
}

#glow {
    position: absolute;
    background: linear-gradient(309deg, var(--bounce-light), var(--bounce-light) 20%, transparent);
    transition: background 1s var(--timing-fn);
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

#glow-bounce {
    content: "";
    position: absolute;
    background: linear-gradient(355deg, var(--bounce-light) 0%, transparent 30%, transparent 100%);
    transition: background 1s var(--timing-fn);
    opacity: 0.5;
    height: 100%;
    width: 100%;
    bottom: 0;
}

.perspective {
    position: absolute;
    transition: transform 1.7s var(--timing-fn), opacity 4s ease;
    top: -30vh;
    right: 0;
    width: 80vw;
    height: 130vh;
    opacity: 0.07;
    background-blend-mode: darken;
    transform-origin: top right;
    transform-style: preserve-3d;
    transform: matrix3d(0.75, -0.0625, 0, 0.0008, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.dark .perspective {
    opacity: 0.3;
    transform: matrix3d(0.8333, 0.0833, 0, 0.0003, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

#leaves {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: -20px;
    right: -700px;
    width: 1600px;
    height: 1400px;
    background-image: url("./images/leaves.png");
    filter: url(#wind);
    animation: billow 8s ease-in-out infinite;
}

#blinds {
    position: relative;
    width: 100%;
}

#blinds .shutter,
#blinds .bar {
    background-color: var(--shadow);
}

#blinds > .shutters {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 60px;
    transition: gap 1s var(--timing-fn);
}

.dark #blinds > .shutters {
    gap: 20px;
}

#blinds > .vertical {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.vertical > .bar {
    width: 5;
    height: 100%;
}

.shutter {
    width: 100%;
    height: 40px;
    transition: height 1s var(--timing-fn);
}

.dark .shutter {
    height: 80px;
}

@keyframes billow {
    0% {
        transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale(1);
    }

    25% {
        transform: perspective(400px) rotateX(1deg) rotateY(2deg) scale(1.02);
    }

    50% {
        transform: perspective(400px) rotateX(-4deg) rotateY(-2deg) scale(0.97);
    }

    75% {
        transform: perspective(400px) rotateX(1deg) rotateY(-1deg) scale(1.04);
    }

    100% {
        transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale(1);
    }
}

/* Initial states */
.stripe-container,
.site-header,
main {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Animation sequence */
.show-structure main {
    opacity: 1;
    transform: translateY(0);
}

.show-stripe .stripe-container {
    opacity: 1;
    transform: translateY(0);
}

.show-logo .site-header {
    opacity: 1;
    transform: translateY(0);
}

/* Initial sections animation one by one */
.show-content-0 .initial-section:nth-child(1) {
    opacity: 1;
    transform: translateY(0);
}

.show-content-1 .initial-section:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
}

/* Style for character1 container */
.features .image-container {
    position: relative;
    transition: opacity 1s var(--timing-fn);
}

/* Specific style for the image */
.image-container img {
    background-color: #1f140e;
    transition: background-color 1s var(--timing-fn);
}

.dark .image-container img {
    background-color: #1f140e00;
}
/* Border modifications in dark mode */
.dark .content-wrapper {
    border-left: 1px solid var(--border-night);
    border-right: 1px solid var(--border-night);
}

.dark section {
    border-bottom: 1px solid var(--border-night);
}

/* Footer image style - Using filter instead of background-color */
.image-footer img {
    filter: invert(1);
    transition: filter 1s var(--timing-fn);
}

.dark .image-footer img {
    filter: invert(0);
}

/* Style addition for dark mode */
.dark .stripe-container::before {
    background: linear-gradient(
        to bottom,
        rgb(78 53 45) 0 2.5px,
        transparent 2.5px 7.5px,
        rgb(78 53 45 / 80%) 7.5px 9.5px,
        transparent 9.5px 14.5px,
        rgb(78 53 45 / 50%) 14.5px 16px,
        transparent 16px 21px,
        rgb(78 53 45 / 35%) 21px 22px,
        transparent 22px 27px,
        rgb(78 53 45 / 23%) 27px 27.5px,
        transparent 27.5px
    );
    opacity: 0.3;
}

footer,
.site-footer,
.copyright {
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

footer.visible,
footer.visible .site-footer,
footer.visible .copyright {
    opacity: 1;
    transition-delay: 0.2s;
}

/* Specific styles for the footer */
.content-wrapper > footer {
    width: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.content-wrapper > footer.visible {
    opacity: 1;
}

/* Ensure footer is in normal flow */
.content-wrapper {
    display: flex;
    flex-direction: column;
}

/* Unified style for footer and its components - without translation */
footer,
.site-footer,
.copyright {
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

/* When footer becomes visible */
footer.visible,
footer.visible .site-footer,
footer.visible .copyright {
    opacity: 1;
    transition-delay: 0.2s;
}

/* Unified styles */
.animated-element {
    opacity: 0;
    transition: all var(--transition-standard);
}

.border-standard {
    border: 1px solid rgb(var(--border-color) / var(--border-opacity));
}
